@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom right, #ff69b4, #03055b);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
